@import "react-toastify/dist/ReactToastify.css";
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    15,
    147,
    255,
    0.125
  ); /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Apply rounded corners to the thumb */
  width: 1px;
}

/* For Firefox */
/* Note: Firefox currently does not support customizing the scrollbar width */

/* For Microsoft Edge and IE */
/* Note: Microsoft Edge and IE do not support customizing the scrollbar appearance */

/* For modern browsers */
/* Add vendor prefixes as needed */
/* Customize the scrollbar color */
/* Adjust the scrollbar width and other properties */
/* Example:
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
*/

.rmsc {
  --rmsc-main: #4285f4 !important;
  --rmsc-hover: #f1f3f5 !important;
  --rmsc-selected: #e2e6ea !important;
  --rmsc-border: #ccc !important;
  --rmsc-gray: #aaa !important;
  --rmsc-bg: #fff !important;
  --rmsc-p: 10px !important; /* Spacing */
  --rmsc-radius: 4px !important; /* Radius */
  --rmsc-h: 38px !important; /* Height */
}

.rmsc.dark {
  --rmsc-main: #4285f4 !important;
  --rmsc-hover: #0e0c0a;
  --rmsc-selected: #1d1915;
  --rmsc-border: #333333;
  --rmsc-gray: #555555;
  --rmsc-bg: #000000;
  color: #fff;
}
/* Styles for dropdown container */
.dropdown-container {
  background: transparent !important;
  border-radius: 10px !important;
  padding: 4.5px !important;
  border: 1px solid rgb(98, 238, 238) !important;
}

/* Styles for dropdown content */
/* .dropdown-content {
  border-radius: 10px !important;
  background: #000 !important;
} */

/* Styles for checkbox inputs inside dropdown content */
.dropdown-content input[type="checkbox"] {
  /* Your styles for checkboxes inside .dropdown-content go here */
  /* For example: */
  margin-right: 8px !important;

  background-color: #007bff !important; /* Add some space to the right of the checkbox */
  vertical-align: middle !important; /* Align the checkbox vertically with the text */
  /* Add any other styles you want for checkboxes inside .dropdown-content */
}

/* Styles for checked checkboxes inside dropdown content */
.dropdown-content input[type="checkbox"]:checked {
  /* Your styles for checked checkboxes inside .dropdown-content go here */
  /* For example: */
  background-color: #007bff !important; /* Change the background color when checked */
  border-color: #007bff !important; /* Change the border color when checked */
  /* Add any other styles you want for checked checkboxes inside .dropdown-content */
}
